<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 Video Players</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body>

  <div class="container">
    <p>Most agree that HTML5 is becoming real, but it still has its own set of limitations and roadblock.<br>
    GitHub repo for this post is <a href="https://github.com/kklee0709/HTML5Video" target="_blank">https://github.com/kklee0709/HTML5Video</a>.
    </p>
  </div>

  <div class="container">
    <h4>Default HTML5 Video Player</h4>
      <video id="Default_Video_Player" width="360" height="240" controls>
        <source src="http://praegnanz.de/html5video/player/video_SD.mp4">
        <source src="Tom_and_Jerry.mp4">
    		<source src="sample.mp4">
        <source src="media/nature.ogv" type="video/ogg">
        <source src="media/nature.webm" type="video/webm">
        <source src="media/nature.mp4" type="video/mp4">
        It seems your browser doesn't support the HTML5 video tag. Please update it!
    </video>
  </div>

  <div class="container">
    <h4><%= title %></h4>
      <ul>
        <% for (var i = 0; i < items.length; i++) { %>
          <li><a href="<%= items[i].url%><%= items[i].path%>"><%= items[i].desc %></a></li>          <% } %>
      </ul>
      <form action="/add" method="post">
        <input type="text" name="newItem">
        <input type="submit">
      </form>
  </div>

  <div class="container">
    <h4>References</h4>
    <ul>
      <li>
        <a href="http://www.streamingmedia.com/Articles/Editorial/Featured-Articles/How-to-Build-a-Streaming-HTML5-Video-Player-103423.aspx" target="_blank">How to Build a Streaming HTML5 Video Player</a> @ http://www.streamingmedia.com
      </li>
      <li>
        <a href="https://github.com/Dash-Industry-Forum/dash.js" target="_blank">dash.js: Dash Industry Forum</a>
      </li>
      <li>
        <a href="http://dashif.org/reference/players/javascript" target="_blank">dash.js: Dash Reference	Player</a>
      </li>
      <li>
        <a href="https://github.com//jefftapper/sampleMSE	" target="_blank">sampleMSE</a>
      </li>

      <li>
        <a href="http://www.streamingmedia.com/Articles/Editorial/Featured-Articles/YouTubes-HTML5-First-Flash-Second-Position-Is-Marketing-Hype-103465.aspx" target="_blank">YouTube's 'HTML5 First, Flash Second' Position Is Marketing Hype</a> @ http://www.streamingmedia.com/
      </li>
      <li>
        <a href="http://www.mediaentertainmentinfo.com/2015/05/4-technical-series-how-to-setup-html5-video-player-part-1.html/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+MediaAndEntertainmentInformation+%28Media+and+Entertainment+Information%29" target="_blank">How to setup HTML5 video player – Part 1</a> @ http://www.mediaentertainmentinfo.com/
        <p> But HTML5 video has its own set of limitations .....
        </p>
      </li>
      <li>
        <a href="http://www.mediaentertainmentinfo.com/2015/04/6-concept-series-what-is-the-difference-between-progressive-download-rtmp-streaming-and-adaptive-streaming.html#Diff-Progressive-RTMP-AdaptiveStreaming" target="_blank">What is the difference between Progressive Download, RTMP Streaming and Adaptive Streaming</a> @ http://www.mediaentertainmentinfo.com
      </li>
      <li>
        <a href="xyz" target="_blank">xyz</a> @ xyz
      </li>

    </ul>
  </div>

    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
